[run]
data_file = .coverage
branch = True
parallel = True
source =
   pyloc.py
omit =
   script/*
   $TMPDIR
[report]
ignore_errors = True
[html]
directory = .coverage-html
title = Pyloc coverage report
