# Compiled python modules.
/__pycache__/
/*.pyc

# Setuptools distribution folder.
/dist/
/build/

# Python egg metadata, regenereated from source files by setuptools.
/*.egg-info/
/*.egg
/.hunittest/

# Generate by the Coverage package tool
/.coverage
/.coverage.*
/.coverage-html/
/sitecustomize.py

# Tox
/.tox/

# Generated when testing rendering of documentation files.
/HACKING.html
/README.html
